## Citi Bike Trip History

I chose 6 months: January 2020 - June 2020

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# CSV location 
january = 'csv/JC-202001-citibike-tripdata.csv'
february = 'csv/JC-202002-citibike-tripdata.csv'
march = 'csv/JC-202003-citibike-tripdata.csv'
april = 'csv/JC-202004-citibike-tripdata.csv'
may = 'csv/JC-202005-citibike-tripdata.csv'
june = 'csv/JC-202006-citibike-tripdata.csv'
july = 'csv/JC-202007-citibike-tripdata.csv'
august = 'csv/JC-202008-citibike-tripdata.csv'
september = 'csv/JC-202009-citibike-tripdata.csv'
october = 'csv/JC-202010-citibike-tripdata.csv'
november = 'csv/JC-202011-citibike-tripdata.csv'
december = 'csv/JC-202012-citibike-tripdata.csv'

In [3]:
#Reading CSVs
df_january = pd.read_csv(january, encoding="ISO-8859-1")
df_february= pd.read_csv(february, encoding="ISO-8859-1")
df_march = pd.read_csv(march, encoding="ISO-8859-1")
df_april = pd.read_csv(april, encoding="ISO-8859-1")
df_may = pd.read_csv(may, encoding="ISO-8859-1")
df_june = pd.read_csv(june, encoding="ISO-8859-1")
df_july = pd.read_csv(july, encoding="ISO-8859-1")
df_august = pd.read_csv(august, encoding="ISO-8859-1")
df_september = pd.read_csv(september, encoding="ISO-8859-1")
df_october = pd.read_csv(october, encoding="ISO-8859-1")
df_november = pd.read_csv(november, encoding="ISO-8859-1")
df_december = pd.read_csv(december, encoding="ISO-8859-1")

In [4]:
#Concatenating csvs 
df_year = pd.concat([df_january, df_february, df_march, df_april, df_may, df_april, df_may, df_june,df_july,df_august,df_september,df_october,df_november,df_december])

In [5]:
#Converting date columns from string to datetime 
df_year['starttime'] = df_year['starttime'].astype('datetime64[ns]')
df_year['stoptime'] = df_year['stoptime'].astype('datetime64[ns]')

In [6]:
#Checking data
df_year.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [7]:
#Calculating age duration 
df_year['age'] = 2020-df_year['birth year']

In [8]:
#Adding a gender value column 
df_year["gender_value"] = ""

In [9]:
#From the integer, indicate the gender value 
df_year.loc[df_year['gender'] == 2, 'gender_value'] = "Female"
df_year.loc[df_year['gender'] == 1, 'gender_value'] = "Male"
df_year.loc[df_year['gender'] == 0, 'gender_value'] = "Unknown"

In [10]:
df_year

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,gender_value
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,36,Female
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,31,Female
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,31,Male
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,51,Unknown
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,37,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.003,2020-12-31 23:36:54.471,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,51,Unknown
11690,1519,2020-12-31 23:18:00.263,2020-12-31 23:43:19.859,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,51,Unknown
11691,1761,2020-12-31 23:31:09.462,2021-01-01 00:00:31.329,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,22,Male
11692,637,2020-12-31 23:35:45.464,2020-12-31 23:46:22.730,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,51,Unknown
11693,1607,2020-12-31 23:48:34.575,2021-01-01 00:15:22.309,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,38,Male

In [11]:
df_year.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
age                                 int64
gender_value                       object
dtype: object

In [15]:
df_year["age"].unique()

array([ 36,  31,  51,  37,  30,  44,  57,  56,  40,  60,  28,  27,  43,
        32,  26,  62,  33,  45,  35,  29,  34,  38,  50,  52,  49,  41,
        25,  63,  54,  47,  53,  64,  48,  39,  42,  59,  67,  58,  61,
        74,  55,  22,  24,  46,  66,  65,  23,  21,  20,  68,  19,  71,
        18,  79, 132,  70,  69,  73,  82, 120,  17,  81,  16, 100,  72,
        76,  75,  78,  90,  87])

In [19]:
df_clean = df_year.loc[df_year['age'] < 90,:]
df_clean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,gender_value
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,36,Female
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,31,Female
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,31,Male
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,51,Unknown
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,37,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.003,2020-12-31 23:36:54.471,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0,51,Unknown
11690,1519,2020-12-31 23:18:00.263,2020-12-31 23:43:19.859,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0,51,Unknown
11691,1761,2020-12-31 23:31:09.462,2021-01-01 00:00:31.329,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1,22,Male
11692,637,2020-12-31 23:35:45.464,2020-12-31 23:46:22.730,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0,51,Unknown
11693,1607,2020-12-31 23:48:34.575,2021-01-01 00:15:22.309,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1,38,Male

In [20]:
df_clean.to_csv("CitiBike_2020.csv", index=True)